html,
body {
	height: 100%;
}

html {
	display: table;
	/* margin: auto; */
	width: 100%;
}

body {
	display: table-cell;
	vertical-align: middle;
	background: #00347e;
}

#login-page {
	margin: 0px 20px 0px 20px;
}

/* label color */
/* .input-field label {
	color: #00347e !important;
} */
